name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

permissions: read-all

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@master
        with:
            toolchain: nightly
            components: rustfmt, clippy
      - name: Run cargo check (all features)
        run: cargo check --benches --examples --tests --all-features
      - name: Run cargo check (no features)
        run: cargo check --benches --examples --tests --no-default-features
      - name: Run cargo check (release, all features)
        run: cargo check --release --benches --examples --tests --all-features
      - name: Run cargo clippy
        run: cargo clippy --benches --examples --tests --all-features -- -D warnings
      - name: Run cargo fmt
        run: cargo fmt --check
      - name: Run cargo doc
        run: cargo doc --all-features
        #env:
        #    RUSTDOCFLAGS: --cfg docsrs
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@master
        with:
            toolchain: nightly
            components: rustfmt, clippy
      - name: Run cargo test
        run: cargo test --all-features
        env:
            RUSTDOCFLAGS: --cfg docsrs
  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install MSRV
        uses: dtolnay/rust-toolchain@master
        with:
            toolchain: "1.65"
            components: rustfmt, clippy
      - name: Check MSRV compatibility
        run: cargo check --features _test_stable
  semver:
    name: SemVer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check semver compatibility
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          rust-toolchain: stable
